@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/Roboto_400_normal.eot);
  /* http://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot */
  src: local("☺"), url(/Roboto_400_normal.eot?#iefix) format("embedded-opentype"), url(/Roboto_400_normal.woff2) format("woff2"), url(/Roboto_400_normal.woff) format("woff"), url(/Roboto_400_normal.ttf) format("truetype"), url(/Roboto_400_normal.svg#Roboto_400_normal) format("svg");
  /* http://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v18#Roboto */
}
@keyframes rainbow-bg {
  0% {
    /* red */
    background: #BF616A;
  }
  14% {
    /* orange */
    background: #e0ae4a;
  }
  28% {
    /* yellow */
    background: #EBCB8B;
  }
  42% {
    /* green */
    background: #A3BE8C;
  }
  57% {
    /* cyan */
    background: #88C0D0;
  }
  71% {
    /* blue */
    background: #81A1C1;
  }
  85% {
    /* purple */
    background: #B48EAD;
  }
  100% {
    /* red */
    background: #BF616A;
  }
}
@keyframes rainbow-border {
  0% {
    /* red */
    border-color: #BF616A;
  }
  14% {
    /* orange */
    border-color: #e0ae4a;
  }
  28% {
    /* yellow */
    border-color: #EBCB8B;
  }
  42% {
    /* green */
    border-color: #A3BE8C;
  }
  57% {
    /* cyan */
    border-color: #88C0D0;
  }
  71% {
    /* blue */
    border-color: #81A1C1;
  }
  85% {
    /* purple */
    border-color: #B48EAD;
  }
  100% {
    /* red */
    border-color: #BF616A;
  }
}
@keyframes rainbow-fg {
  0% {
    /* red */
    color: #BF616A;
  }
  14% {
    /* orange */
    color: #e0ae4a;
  }
  28% {
    /* yellow */
    color: #EBCB8B;
  }
  42% {
    /* green */
    color: #A3BE8C;
  }
  57% {
    /* cyan */
    color: #88C0D0;
  }
  71% {
    /* blue */
    color: #81A1C1;
  }
  85% {
    /* purple */
    color: #B48EAD;
  }
  100% {
    /* red */
    color: #BF616A;
  }
}
@keyframes rainbow-fill {
  0% {
    /* red */
    fill: #BF616A;
  }
  14% {
    /* orange */
    fill: #e0ae4a;
  }
  28% {
    /* yellow */
    fill: #EBCB8B;
  }
  42% {
    /* green */
    fill: #A3BE8C;
  }
  57% {
    /* cyan */
    fill: #88C0D0;
  }
  71% {
    /* blue */
    fill: #81A1C1;
  }
  85% {
    /* purple */
    fill: #B48EAD;
  }
  100% {
    /* red */
    fill: #BF616A;
  }
}
@keyframes rainbow-shadow {
  0% {
    /* red */
    -webkit-filter: drop-shadow(3px 0px 0 #BF616A) drop-shadow(-3px 0 0 #BF616A) drop-shadow(0 3px 0 #BF616A) drop-shadow(0 -3px 0 #BF616A);
    filter: drop-shadow(3px 0px 0 #BF616A) drop-shadow(-3px 0 0 #BF616A) drop-shadow(0 3px 0 #BF616A) drop-shadow(0 -3px 0 #BF616A);
  }
  14% {
    /* orange */
    -webkit-filter: drop-shadow(3px 0px 0 #e0ae4a) drop-shadow(-3px 0 0 #e0ae4a) drop-shadow(0 3px 0 #e0ae4a) drop-shadow(0 -3px 0 #e0ae4a);
    filter: drop-shadow(3px 0px 0 #e0ae4a) drop-shadow(-3px 0 0 #e0ae4a) drop-shadow(0 3px 0 #e0ae4a) drop-shadow(0 -3px 0 #e0ae4a);
  }
  28% {
    /* yellow */
    -webkit-filter: drop-shadow(3px 0px 0 #EBCB8B) drop-shadow(-3px 0 0 #EBCB8B) drop-shadow(0 3px 0 #EBCB8B) drop-shadow(0 -3px 0 #EBCB8B);
    filter: drop-shadow(3px 0px 0 #EBCB8B) drop-shadow(-3px 0 0 #EBCB8B) drop-shadow(0 3px 0 #EBCB8B) drop-shadow(0 -3px 0 #EBCB8B);
  }
  42% {
    /* green */
    -webkit-filter: ddrop-shadow(3px 0px 0 #A3BE8C) drop-shadow(-3px 0 0 #A3BE8C) drop-shadow(0 3px 0 #A3BE8C) drop-shadow(0 -3px 0 #A3BE8C);
    filter: drop-shadow(3px 0px 0 #A3BE8C) drop-shadow(-3px 0 0 #A3BE8C) drop-shadow(0 3px 0 #A3BE8C) drop-shadow(0 -3px 0 #A3BE8C);
  }
  57% {
    /* cyan */
    -webkit-filter: drop-shadow(3px 0px 0 #88C0D0) drop-shadow(-3px 0 0 #88C0D0) drop-shadow(0 3px 0 #88C0D0) drop-shadow(0 -3px 0 #88C0D0);
    filter: drop-shadow(3px 0px 0 #88C0D0) drop-shadow(-3px 0 0 #88C0D0) drop-shadow(0 3px 0 #88C0D0) drop-shadow(0 -3px 0 #88C0D0);
  }
  71% {
    /* blue */
    -webkit-filter: drop-shadow(3px 0px 0 #81A1C1) drop-shadow(-3px 0 0 #81A1C1) drop-shadow(0 3px 0 #81A1C1) drop-shadow(0 -3px 0 #81A1C1);
    filter: drop-shadow(3px 0px 0 #81A1C1) drop-shadow(-3px 0 0 #81A1C1) drop-shadow(0 3px 0 #81A1C1) drop-shadow(0 -3px 0 #81A1C1);
  }
  85% {
    /* purple */
    -webkit-filter: drop-shadow(3px 0px 0 #B48EAD) drop-shadow(-3px 0 0 #B48EAD) drop-shadow(0 3px 0 #B48EAD) drop-shadow(0 -3px 0 #B48EAD);
    filter: drop-shadow(3px 0px 0 #B48EAD) drop-shadow(-3px 0 0 #B48EAD) drop-shadow(0 3px 0 #B48EAD) drop-shadow(0 -3px 0 #B48EAD);
  }
  100% {
    /* red */
    -webkit-filter: drop-shadow(3px 0px 0 #BF616A) drop-shadow(-3px 0 0 #BF616A) drop-shadow(0 3px 0 #BF616A) drop-shadow(0 -3px 0 #BF616A);
    filter: drop-shadow(3px 0px 0 #BF616A) drop-shadow(-3px 0 0 #BF616A) drop-shadow(0 3px 0 #BF616A) drop-shadow(0 -3px 0 #BF616A);
  }
}
#particles {
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(24vw, 49vh, 49px);
  }
}
.particle-container:nth-child(1) {
  opacity: 0.17;
  transform: translate3d(15vw, 30vh, 65px);
  animation-delay: -0.2s;
  animation: particle-animation-1 60s infinite;
}

.particle:nth-child(1) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(22vw, 38vh, 64px);
  }
}
.particle-container:nth-child(2) {
  opacity: 0.67;
  transform: translate3d(80vw, 28vh, 5px);
  animation-delay: -0.4s;
  animation: particle-animation-2 60s infinite;
}

.particle:nth-child(2) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(66vw, 58vh, 70px);
  }
}
.particle-container:nth-child(3) {
  opacity: 0.59;
  transform: translate3d(12vw, 6vh, 85px);
  animation-delay: -0.6s;
  animation: particle-animation-3 60s infinite;
}

.particle:nth-child(3) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(50vw, 62vh, 31px);
  }
}
.particle-container:nth-child(4) {
  opacity: 0.45;
  transform: translate3d(11vw, 70vh, 7px);
  animation-delay: -0.8s;
  animation: particle-animation-4 60s infinite;
}

.particle:nth-child(4) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(86vw, 88vh, 90px);
  }
}
.particle-container:nth-child(5) {
  opacity: 0.25;
  transform: translate3d(84vw, 28vh, 50px);
  animation-delay: -1s;
  animation: particle-animation-5 60s infinite;
}

.particle:nth-child(5) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(4vw, 36vh, 89px);
  }
}
.particle-container:nth-child(6) {
  opacity: 0.55;
  transform: translate3d(42vw, 17vh, 47px);
  animation-delay: -1.2s;
  animation: particle-animation-6 60s infinite;
}

.particle:nth-child(6) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(24vw, 29vh, 47px);
  }
}
.particle-container:nth-child(7) {
  opacity: 0.58;
  transform: translate3d(66vw, 73vh, 89px);
  animation-delay: -1.4s;
  animation: particle-animation-7 60s infinite;
}

.particle:nth-child(7) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(28vw, 65vh, 23px);
  }
}
.particle-container:nth-child(8) {
  opacity: 0.84;
  transform: translate3d(70vw, 38vh, 72px);
  animation-delay: -1.6s;
  animation: particle-animation-8 60s infinite;
}

.particle:nth-child(8) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(29vw, 50vh, 33px);
  }
}
.particle-container:nth-child(9) {
  opacity: 0.3;
  transform: translate3d(81vw, 54vh, 66px);
  animation-delay: -1.8s;
  animation: particle-animation-9 60s infinite;
}

.particle:nth-child(9) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(49vw, 16vh, 16px);
  }
}
.particle-container:nth-child(10) {
  opacity: 0.02;
  transform: translate3d(74vw, 76vh, 6px);
  animation-delay: -2s;
  animation: particle-animation-10 60s infinite;
}

.particle:nth-child(10) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(3vw, 64vh, 80px);
  }
}
.particle-container:nth-child(11) {
  opacity: 0.38;
  transform: translate3d(26vw, 15vh, 17px);
  animation-delay: -2.2s;
  animation: particle-animation-11 60s infinite;
}

.particle:nth-child(11) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(63vw, 86vh, 62px);
  }
}
.particle-container:nth-child(12) {
  opacity: 0.35;
  transform: translate3d(77vw, 13vh, 80px);
  animation-delay: -2.4s;
  animation: particle-animation-12 60s infinite;
}

.particle:nth-child(12) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(41vw, 60vh, 6px);
  }
}
.particle-container:nth-child(13) {
  opacity: 0.73;
  transform: translate3d(87vw, 38vh, 45px);
  animation-delay: -2.6s;
  animation: particle-animation-13 60s infinite;
}

.particle:nth-child(13) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(15vw, 37vh, 47px);
  }
}
.particle-container:nth-child(14) {
  opacity: 0.86;
  transform: translate3d(18vw, 49vh, 88px);
  animation-delay: -2.8s;
  animation: particle-animation-14 60s infinite;
}

.particle:nth-child(14) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(78vw, 52vh, 95px);
  }
}
.particle-container:nth-child(15) {
  opacity: 0.34;
  transform: translate3d(27vw, 48vh, 64px);
  animation-delay: -3s;
  animation: particle-animation-15 60s infinite;
}

.particle:nth-child(15) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(79vw, 49vh, 14px);
  }
}
.particle-container:nth-child(16) {
  opacity: 0.95;
  transform: translate3d(21vw, 22vh, 30px);
  animation-delay: -3.2s;
  animation: particle-animation-16 60s infinite;
}

.particle:nth-child(16) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(89vw, 54vh, 36px);
  }
}
.particle-container:nth-child(17) {
  opacity: 0.89;
  transform: translate3d(1vw, 47vh, 20px);
  animation-delay: -3.4s;
  animation: particle-animation-17 60s infinite;
}

.particle:nth-child(17) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(49vw, 56vh, 60px);
  }
}
.particle-container:nth-child(18) {
  opacity: 0.55;
  transform: translate3d(70vw, 5vh, 10px);
  animation-delay: -3.6s;
  animation: particle-animation-18 60s infinite;
}

.particle:nth-child(18) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(73vw, 87vh, 17px);
  }
}
.particle-container:nth-child(19) {
  opacity: 0.4;
  transform: translate3d(54vw, 70vh, 36px);
  animation-delay: -3.8s;
  animation: particle-animation-19 60s infinite;
}

.particle:nth-child(19) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(69vw, 48vh, 39px);
  }
}
.particle-container:nth-child(20) {
  opacity: 0.16;
  transform: translate3d(47vw, 71vh, 87px);
  animation-delay: -4s;
  animation: particle-animation-20 60s infinite;
}

.particle:nth-child(20) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 71vh, 99px);
  }
}
.particle-container:nth-child(21) {
  opacity: 0.68;
  transform: translate3d(84vw, 39vh, 91px);
  animation-delay: -4.2s;
  animation: particle-animation-21 60s infinite;
}

.particle:nth-child(21) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(59vw, 22vh, 78px);
  }
}
.particle-container:nth-child(22) {
  opacity: 0.54;
  transform: translate3d(28vw, 24vh, 11px);
  animation-delay: -4.4s;
  animation: particle-animation-22 60s infinite;
}

.particle:nth-child(22) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(32vw, 25vh, 18px);
  }
}
.particle-container:nth-child(23) {
  opacity: 0.73;
  transform: translate3d(38vw, 87vh, 2px);
  animation-delay: -4.6s;
  animation: particle-animation-23 60s infinite;
}

.particle:nth-child(23) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(21vw, 44vh, 96px);
  }
}
.particle-container:nth-child(24) {
  opacity: 0.46;
  transform: translate3d(43vw, 28vh, 75px);
  animation-delay: -4.8s;
  animation: particle-animation-24 60s infinite;
}

.particle:nth-child(24) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(46vw, 79vh, 15px);
  }
}
.particle-container:nth-child(25) {
  opacity: 0.39;
  transform: translate3d(21vw, 68vh, 99px);
  animation-delay: -5s;
  animation: particle-animation-25 60s infinite;
}

.particle:nth-child(25) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(22vw, 40vh, 99px);
  }
}
.particle-container:nth-child(26) {
  opacity: 0.83;
  transform: translate3d(53vw, 66vh, 5px);
  animation-delay: -5.2s;
  animation: particle-animation-26 60s infinite;
}

.particle:nth-child(26) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(35vw, 4vh, 42px);
  }
}
.particle-container:nth-child(27) {
  opacity: 0.57;
  transform: translate3d(48vw, 86vh, 54px);
  animation-delay: -5.4s;
  animation: particle-animation-27 60s infinite;
}

.particle:nth-child(27) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(8vw, 47vh, 84px);
  }
}
.particle-container:nth-child(28) {
  opacity: 0.77;
  transform: translate3d(45vw, 51vh, 84px);
  animation-delay: -5.6s;
  animation: particle-animation-28 60s infinite;
}

.particle:nth-child(28) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(64vw, 51vh, 67px);
  }
}
.particle-container:nth-child(29) {
  opacity: 0.29;
  transform: translate3d(67vw, 62vh, 30px);
  animation-delay: -5.8s;
  animation: particle-animation-29 60s infinite;
}

.particle:nth-child(29) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(74vw, 88vh, 79px);
  }
}
.particle-container:nth-child(30) {
  opacity: 0.42;
  transform: translate3d(78vw, 40vh, 96px);
  animation-delay: -6s;
  animation: particle-animation-30 60s infinite;
}

.particle:nth-child(30) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(57vw, 49vh, 43px);
  }
}
.particle-container:nth-child(31) {
  opacity: 0.07;
  transform: translate3d(72vw, 82vh, 32px);
  animation-delay: -6.2s;
  animation: particle-animation-31 60s infinite;
}

.particle:nth-child(31) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(64vw, 89vh, 30px);
  }
}
.particle-container:nth-child(32) {
  opacity: 0.25;
  transform: translate3d(81vw, 7vh, 88px);
  animation-delay: -6.4s;
  animation: particle-animation-32 60s infinite;
}

.particle:nth-child(32) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(11vw, 61vh, 98px);
  }
}
.particle-container:nth-child(33) {
  opacity: 0.08;
  transform: translate3d(20vw, 1vh, 36px);
  animation-delay: -6.6s;
  animation: particle-animation-33 60s infinite;
}

.particle:nth-child(33) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(28vw, 68vh, 21px);
  }
}
.particle-container:nth-child(34) {
  opacity: 0.2;
  transform: translate3d(13vw, 64vh, 79px);
  animation-delay: -6.8s;
  animation: particle-animation-34 60s infinite;
}

.particle:nth-child(34) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(36vw, 34vh, 34px);
  }
}
.particle-container:nth-child(35) {
  opacity: 0.75;
  transform: translate3d(44vw, 45vh, 19px);
  animation-delay: -7s;
  animation: particle-animation-35 60s infinite;
}

.particle:nth-child(35) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(36vw, 22vh, 45px);
  }
}
.particle-container:nth-child(36) {
  opacity: 0.6;
  transform: translate3d(49vw, 69vh, 53px);
  animation-delay: -7.2s;
  animation: particle-animation-36 60s infinite;
}

.particle:nth-child(36) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(49vw, 86vh, 25px);
  }
}
.particle-container:nth-child(37) {
  opacity: 0.14;
  transform: translate3d(20vw, 25vh, 20px);
  animation-delay: -7.4s;
  animation: particle-animation-37 60s infinite;
}

.particle:nth-child(37) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(28vw, 3vh, 96px);
  }
}
.particle-container:nth-child(38) {
  opacity: 0.92;
  transform: translate3d(32vw, 24vh, 88px);
  animation-delay: -7.6s;
  animation: particle-animation-38 60s infinite;
}

.particle:nth-child(38) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(60vw, 49vh, 60px);
  }
}
.particle-container:nth-child(39) {
  opacity: 0.92;
  transform: translate3d(3vw, 86vh, 62px);
  animation-delay: -7.8s;
  animation: particle-animation-39 60s infinite;
}

.particle:nth-child(39) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(87vw, 76vh, 1px);
  }
}
.particle-container:nth-child(40) {
  opacity: 0.41;
  transform: translate3d(40vw, 83vh, 18px);
  animation-delay: -8s;
  animation: particle-animation-40 60s infinite;
}

.particle:nth-child(40) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(29vw, 48vh, 54px);
  }
}
.particle-container:nth-child(41) {
  opacity: 0.84;
  transform: translate3d(7vw, 52vh, 27px);
  animation-delay: -8.2s;
  animation: particle-animation-41 60s infinite;
}

.particle:nth-child(41) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(53vw, 82vh, 3px);
  }
}
.particle-container:nth-child(42) {
  opacity: 0.59;
  transform: translate3d(42vw, 11vh, 45px);
  animation-delay: -8.4s;
  animation: particle-animation-42 60s infinite;
}

.particle:nth-child(42) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(46vw, 50vh, 45px);
  }
}
.particle-container:nth-child(43) {
  opacity: 0.34;
  transform: translate3d(71vw, 46vh, 79px);
  animation-delay: -8.6s;
  animation: particle-animation-43 60s infinite;
}

.particle:nth-child(43) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(22vw, 15vh, 100px);
  }
}
.particle-container:nth-child(44) {
  opacity: 0.6;
  transform: translate3d(84vw, 84vh, 37px);
  animation-delay: -8.8s;
  animation: particle-animation-44 60s infinite;
}

.particle:nth-child(44) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(52vw, 48vh, 98px);
  }
}
.particle-container:nth-child(45) {
  opacity: 0.59;
  transform: translate3d(89vw, 33vh, 27px);
  animation-delay: -9s;
  animation: particle-animation-45 60s infinite;
}

.particle:nth-child(45) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(16vw, 36vh, 79px);
  }
}
.particle-container:nth-child(46) {
  opacity: 0.96;
  transform: translate3d(4vw, 34vh, 41px);
  animation-delay: -9.2s;
  animation: particle-animation-46 60s infinite;
}

.particle:nth-child(46) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(46vw, 72vh, 58px);
  }
}
.particle-container:nth-child(47) {
  opacity: 1;
  transform: translate3d(58vw, 60vh, 78px);
  animation-delay: -9.4s;
  animation: particle-animation-47 60s infinite;
}

.particle:nth-child(47) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(19vw, 85vh, 68px);
  }
}
.particle-container:nth-child(48) {
  opacity: 0.15;
  transform: translate3d(29vw, 76vh, 25px);
  animation-delay: -9.6s;
  animation: particle-animation-48 60s infinite;
}

.particle:nth-child(48) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(73vw, 30vh, 69px);
  }
}
.particle-container:nth-child(49) {
  opacity: 0.29;
  transform: translate3d(31vw, 17vh, 96px);
  animation-delay: -9.8s;
  animation: particle-animation-49 60s infinite;
}

.particle:nth-child(49) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(67vw, 38vh, 13px);
  }
}
.particle-container:nth-child(50) {
  opacity: 0.14;
  transform: translate3d(70vw, 66vh, 26px);
  animation-delay: -10s;
  animation: particle-animation-50 60s infinite;
}

.particle:nth-child(50) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(72vw, 42vh, 52px);
  }
}
.particle-container:nth-child(51) {
  opacity: 0.2;
  transform: translate3d(85vw, 62vh, 94px);
  animation-delay: -10.2s;
  animation: particle-animation-51 60s infinite;
}

.particle:nth-child(51) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(64vw, 39vh, 17px);
  }
}
.particle-container:nth-child(52) {
  opacity: 0.86;
  transform: translate3d(24vw, 68vh, 70px);
  animation-delay: -10.4s;
  animation: particle-animation-52 60s infinite;
}

.particle:nth-child(52) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(37vw, 81vh, 49px);
  }
}
.particle-container:nth-child(53) {
  opacity: 0.43;
  transform: translate3d(49vw, 44vh, 83px);
  animation-delay: -10.6s;
  animation: particle-animation-53 60s infinite;
}

.particle:nth-child(53) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(60vw, 15vh, 61px);
  }
}
.particle-container:nth-child(54) {
  opacity: 0.98;
  transform: translate3d(35vw, 70vh, 63px);
  animation-delay: -10.8s;
  animation: particle-animation-54 60s infinite;
}

.particle:nth-child(54) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(65vw, 46vh, 69px);
  }
}
.particle-container:nth-child(55) {
  opacity: 0.89;
  transform: translate3d(50vw, 62vh, 81px);
  animation-delay: -11s;
  animation: particle-animation-55 60s infinite;
}

.particle:nth-child(55) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(40vw, 28vh, 13px);
  }
}
.particle-container:nth-child(56) {
  opacity: 0.76;
  transform: translate3d(89vw, 53vh, 93px);
  animation-delay: -11.2s;
  animation: particle-animation-56 60s infinite;
}

.particle:nth-child(56) {
  height: 6px;
  width: 6px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(79vw, 28vh, 5px);
  }
}
.particle-container:nth-child(57) {
  opacity: 0.97;
  transform: translate3d(81vw, 9vh, 35px);
  animation-delay: -11.4s;
  animation: particle-animation-57 60s infinite;
}

.particle:nth-child(57) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(13vw, 75vh, 30px);
  }
}
.particle-container:nth-child(58) {
  opacity: 0.11;
  transform: translate3d(44vw, 3vh, 24px);
  animation-delay: -11.6s;
  animation: particle-animation-58 60s infinite;
}

.particle:nth-child(58) {
  height: 4px;
  width: 4px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(57vw, 53vh, 79px);
  }
}
.particle-container:nth-child(59) {
  opacity: 0.4;
  transform: translate3d(17vw, 36vh, 57px);
  animation-delay: -11.8s;
  animation: particle-animation-59 60s infinite;
}

.particle:nth-child(59) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(88vw, 49vh, 61px);
  }
}
.particle-container:nth-child(60) {
  opacity: 0.43;
  transform: translate3d(44vw, 57vh, 38px);
  animation-delay: -12s;
  animation: particle-animation-60 60s infinite;
}

.particle:nth-child(60) {
  height: 5px;
  width: 5px;
  animation: rainbow-bg 8s ease infinite;
}

table {
  background: #2f323c;
  border-collapse: collapse;
  margin: 2rem 0;
  position: relative;
}
table .rotate {
  animation: circle 18s linear infinite;
  display: inline-block;
  position: absolute;
  top: -2rem;
}
table .rotate img {
  animation: wiggle 0.4s linear infinite;
  height: 2rem;
  margin: 0;
  width: 2rem;
}
table th {
  border: 1px solid #f4f4f5;
  padding: 1em;
  text-emphasis: strong;
  background: #24262E;
}
table td {
  border: 1px solid #f4f4f5;
  padding: 1em;
}
table td:nth-child(1) {
  background: #282b34;
}
table tr:last-of-type {
  border-bottom: none;
}

.table-align-first-right td:first-of-type {
  text-align: right;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
@keyframes circle {
  0%, 100% {
    top: -2rem;
    left: -2rem;
  }
  22% {
    transform: rotate(0deg);
  }
  25% {
    top: -2rem;
    left: 100%;
  }
  28%, 47% {
    transform: rotate(90deg);
  }
  50% {
    top: 100%;
    left: 100%;
  }
  53%, 72% {
    transform: rotate(180deg);
  }
  75% {
    top: 100%;
    left: -2rem;
  }
  78%, 97% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
/* code by webdevtrick ( https://webdevtrick.com ) */
.thumb {
  max-height: 171px;
  border: solid 6px white;
}

.lightbox {
  position: fixed;
  z-index: 999;
  height: 0;
  width: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
  opacity: 0;
}

.lightbox:target {
  outline: none;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.lightbox:target img {
  opacity: 1;
  webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.light-btn {
  color: #fafafa;
  background-color: #333;
  border: solid 3px white;
  padding: 5px 15px;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  z-index: 99;
}

.light-btn:hover {
  background-color: #111;
}

.btn-prev {
  left: 7%;
}

.btn-next {
  right: 7%;
}

.btn-close {
  position: absolute;
  right: 2%;
  top: 2%;
  color: #fafafa;
  background-color: #BF616A;
  padding: 10px 15px;
  border-radius: 1px;
  text-decoration: none;
}

.btn-close:hover {
  background-color: #c97980;
}

a {
  animation: rainbow-fg 8s ease infinite;
  color: #f4f4f5;
}

p, span, a, td, footer, h1, h2 {
  text-shadow: 0 0 1px #FFFFFF7F;
}

html {
  background: #24262E;
  color: #f4f4f5;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 3em 0 0 0;
  position: relative;
  width: 80vw;
  z-index: 1;
}

body > * {
  margin-bottom: 3em;
}

#header-nav {
  font-size: 1.75em;
}
#header-nav a {
  padding: 0.5em;
}

#header-title {
  font-size: 4em;
}
#header-title img {
  margin-right: 0.5em;
  width: 1em;
}

#social-icons-metacontainer {
  position: relative;
}

#social-icons-container {
  align-self: flex-end;
  font-size: 3em;
  position: absolute;
  right: 1em;
}
#social-icons-container a {
  padding: 0.75em;
}
#social-icons-container a svg {
  height: 1em;
  vertical-align: baseline;
  width: 1em;
}
#social-icons-container a svg path {
  animation: rainbow-fill 8s ease infinite;
}

.social-icon-bubble {
  height: 2.5em;
  width: 2.5em;
}
.social-icon-bubble circle {
  fill: rgba(70, 73, 89, 0.65);
}

#social-icons {
  position: absolute;
}

content, footer {
  animation: rainbow-border 8s ease infinite;
  background: rgba(70, 73, 89, 0.65);
  border-left: 0.4em solid transparent;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2.1em;
}

content h1 {
  margin-top: 0;
}
content aside {
  margin-left: 1em;
}
content pre {
  overflow-x: auto;
}
content img, content iframe {
  margin: 1rem 0;
  width: 100%;
}
content iframe {
  height: 35rem;
}
content p {
  margin-bottom: 0;
}
content ul {
  margin: 0;
}
content .markdown img {
  width: 20em;
}

footer {
  padding: 1em;
  margin-bottom: 3em;
}

.social-media-list {
  columns: 4;
  list-style: none;
}
.social-media-list li {
  justify-content: center;
  align-items: center;
}
.social-media-list li a {
  text-decoration: none;
}
.social-media-list li svg {
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.social-media-list-icon {
  position: relative;
  top: 0.1em;
}

/* x-d-x-m indicates x on Desktop and y on Mobile */
.row, .col, .row-d-col-m, .row-d-rows-m {
  display: flex;
}

.col {
  flex-direction: column;
}

.centred {
  justify-content: center;
}

.cross-centred, .cross-centred-d {
  align-items: center;
}

@media screen and (orientation: portrait) {
  body {
    margin-top: 1em;
    width: 95vw;
  }

  #header-title > img {
    margin-right: 0;
  }

  #social-icons-container {
    align-self: center;
    font-size: 2em;
    right: 0;
    top: 0.5em;
  }

  content {
    padding-top: 3em;
  }
  content aside {
    margin-left: 0;
  }

  footer #footer-text {
    text-align: centre;
  }

  .social-media-list {
    columns: 1;
    text-align: left;
    font-size: 2em;
  }
  .social-media-list li svg {
    width: 1em;
    height: 1em;
  }

  .social-media-list > li:nth-child(even) {
    margin-bottom: 1em;
  }

  /* x-d-x-m indicates x on Desktop and y on Mobile */
  .row-d-col-m {
    flex-direction: column;
  }

  .row-d-rows-m {
    flex-wrap: wrap;
  }

  .cross-centred-d {
    align-items: unset;
  }

  .cross-centred-m {
    align-items: center;
  }
}
.rainbow-png {
  animation: rainbow-shadow 8s ease infinite;
}

.rainbow-png, .hover:hover {
  animation: rainbow-shadow 8s ease infinite;
}

@media only screen and (max-width: 800px) {
  .rainbow-svg {
    filter: unset;
  }
}